<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <mat-card class="card">
                        <mat-card-header>
                          <mat-card-title></mat-card-title>
                          <mat-card-subtitle class="price"> </mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image  class="img-responsive card-img-top">
                        <mat-card-content>
                          <p>
                           
                          </p>
                        </mat-card-content>
                        <mat-card-actions class="d-flex justify-content-end">
                          <button mat-button  class="btn btn-primary">Add to cart</button>
                          <a mat-button class="btn btn-secondary">Buy the product</a>
                        </mat-card-actions>
                      </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>